# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=3zcpri8u
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-11-01

# Site
NEXT_PUBLIC_SITE_URL=https://xiangdong.tw

# Google Ads conversion tracking
NEXT_PUBLIC_GOOGLE_ADS_CONVERSION_ID=AW-18234251829
NEXT_PUBLIC_GOOGLE_ADS_LINE_LEAD_CONVERSION_LABEL=TzzCCPHcrtQcELWO4vZD
